<div class="panel panel-danger" th:if="${#fields.hasAnyErrors()} or ${errorMessages}">
    <div class="panel-heading">
        <h3 class="panel-title">Error</h3>
    </div>
    <div class="panel-body" id="error-area">
        <ul >
            <li th:each="error : ${#fields.detailedErrors()}">
                <span th:text="${error.message}"></span>
            </li>
            <li th:each="message : ${errorMessages}">
                <span th:text="${message}"></span>
            </li>
        </ul>
    </div>
</div>