<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Eventspark</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script th:src="@{/lib/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/home.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Eventspark</h1>
            <h2>addTicket</h2>

            <form th:action="@{/owner/event/{eventName}/ticket(eventName=${event.name})}" id="form" method="post" th:object="${form}">
                <div th:replace="components/error-panel" id="error-area"></div>
                <div class="form-group">
                    <label for="ticket-name">Ticket Name</label>
                    <input type="text" class="form-control" name="ticketName" id="ticket-name" placeholder="ticket-name">
                </div>
                <div class="form-group">
                    <label for="ticket-price">Ticket Price</label>
                    <input type="text" class="form-control" name="ticketPrice" id="ticket-price" placeholder="ticket-price"/>
                </div>
                <div class="form-group">
                    <label for="ticket-total">Ticket Total</label>
                    <input type="text" class="form-control" name="ticketTotal" id="ticket-total" placeholder="ticket-total"/>
                </div>
                <div class="form-group">
                    <label for="ticket-limit">Ticket Limit per User</label>
                    <input type="text" class="form-control" name="ticketLimit" id="ticket-limit" placeholder="ticket-limit"/>
                </div>
                <input type="hidden" class="form-control" name="eventId" id="event-id" th:value="${form.eventId}" />
                <button type="submit" id="register" class="btn btn-default">Register</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>