<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Eventspark</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script th:src="@{/lib/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/home.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div id="event_name" th:text="${event.getName()}"></div>
        <div id="location" th:text="${event.getLocation()}"></div>
        <div id="create_username" th:text="${event.getOwner()}"></div>
        <div id="summary" th:text="${event.getSummary()}"></div>
        <div id="start_date" th:text="${event.getStartDateTime()}"></div>
        <div id="end_date" th:text="${event.getEndDateTime()}"></div>
        <div id="detail" th:text="${event.getDetailText()}"></div>
    </div>
</div>
</body>
</html>