<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Eventspark</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script th:src="@{/lib/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/home.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>イベント詳細画面</h1>
            <p>イベント名 <span th:text="${event.getName()}" id="event_name"></span></p>
            <p>開催場所 <span th:text="${event.getLocation()}" id="location"></span></p>
            <p>主催者 <span th:text="${event.getOwner()}" id="owner"></span></p>
            <p>概要 <span th:text="${event.getSummary()}" id="summary"></span></p>
            <p>開始日時 <span th:text="${event.getStartDateTime()}" id="start_date"></span></p>
            <p>終了日時 <span th:text="${event.getEndDateTime()}" id="end_date"></span></p>
            <p>イベント情報 <span th:text="${event.getDetailText()}" id="detail"></span></p>
            <p>チケット <span id="ticket"></span>1day 69/100</p>
            <button type="button" class="btn btn-default"><a id="register_button" th:href="@{/register_form/{eventName}(eventName=${event.getName()})}">購入</a></button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>