<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Eventspark</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script th:src="@{/dist/bundle.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Event</h1>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="/home">HOME</a></li>
                <li role="presentation"><a href="/contact-list">Contact List</a></li>
                <li role="presentation" class="active"><a href="/event">Event</a></li>
                <li role="presentation"><a href="/owner/event/new">Add Event</a></li>
            </ul>
            <p><span th:text="${successMessage}" id="success_message"></span></p>
            <img id="image" style="height: 300px;width: 300px;" th:src="${event.getImagePath()}">
            <h1><span th:text="${event.getName()}" id="name"></span></h1>
            <p>開始日時:<span th:text="${event.getStartDateTime()}" id="start_date"></span></p>
            <p>終了日時:<span th:text="${event.getEndDateTime()}" id="end_date"></span></p>
            <p>開催場所:<span th:text="${event.getLocation()}" id="location"></span></p>
            <h2>イベント情報:<br> <span th:text="${event.getDetail()}" id="detail"></span></h2>
            <p>主催者:<span th:text="${event.getOwner()}" id="owner"></span></p>
            <p>チケット:<span th:if="${ticketList.isEmpty()}"> No Information</span></p>
            <div id="ticket_list" th:if="${!ticketList.isEmpty()}">
                <p th:each="ticket,stat : ${ticketList}">
                    <span th:text="${ticket.getTicketName()}"></span>
                    <span th:text="${unsoldList.get(stat.index)}"></span>/
                    <span th:text="${ticket.getTicketTotal()}"></span>
                </p>
            </div>

            <button type="button" class="btn btn-default"><a id="register_button" th:href="@{/register_form/{eventName}(eventName=${event.getName()})}">購入</a></button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>