<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Eventspark</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script th:src="@{/lib/jquery-3.2.1.js}"></script>
    <!--<script th:src="@{/js/contact-list.js}"></script>-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Import CSV</h1>

            <!--form action="/import-csv" method="post" th:object="${form}" -->
            <!-- test 用モック -->
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Error</h3>
                    </div>
                    <div class="panel-body" id="error-area">
                        <ul >
                            <li>
                                <span>File format is wrong</span>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="csvfile">Select CSV file</label>
                    <form action="/import-csv" enctype="multipart/form-data" method="post">
                        <table>
                            <tr>
                                <td>
                                    <input type="file" class="form-control" name="file" id="csvfile"
                                           placeholder="csvfile" multiple/>
                                    <input type="hidden" name="force" value="false">
                                </td>
                                <td>
                                    <button type="submit" id="import" class="btn btn-default">Import</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            <!--/form-->

            <br/>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script>

</script>
</body>
</html>