<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Eventspark</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script th:src="@{/lib/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/preview.js}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Mail Preview</h1>

                <div class="text-right">
                    <button class="btn btn-default" id="prev" th:data-index="${previewNavigation.getPreviousIndex()}" th:disabled="${!previewNavigation.canShowPrevious()}" type="button">Prev</button>
                    <button class="btn btn-default" id="next" th:data-index="${previewNavigation.getNextIndex()}" th:disabled="${!previewNavigation.canShowNext()}" type="button">Next</button>
                </div>

                <hr>

                <div><strong>To:</strong> <span th:text="${mailInfo.to}" id="address-preview"></span></div>
                <h2 th:text="${mailInfo.subject}" id="subject-preview"></h2>
                <br>
                <div th:text="${mailInfo.body}" id="body-preview"></div>

                <hr>

                <form action="/home" method="post" id="form" th:object="${form}">

                    <input class="invisible" type="hidden" name="address" id="address" th:value="${form.address}" />
                    <input class="invisible" type="hidden" name="subject" id="subject" th:value="${form.subject}" />
                    <input class="invisible" type="hidden" name="body" id="body" th:value="${form.body}" />

                    <button type="submit" id="back-to-home" class="btn btn-default">Back To Home</button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>
</html>