<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Eventspark</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script th:src="@{/dist/bundle.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Eventspark</h1>
            <h2 th:text="${event.name}"></h2>
            <p>Start datetime <span th:text="${event.startDateTime}"></span></p>
            <p>End datetime <span th:text="${event.endDateTime}"></span></p>
            <p>Location <span th:text="${event.location}"></span></p>

            <form id="registrationForm" method="post" th:object="${form}">
                <div class="form-group">
                    <div class="form-inline">
                        <label for="ticket-type">Ticket</label>
                        <select class="form-control" name="ticketId" id="ticket-type" th:value="${form.ticketId}">
                            <option th:value="${ticket.id}" th:each="ticket : ${ticketList}" th:text="${ticket.ticketName + ' (JPY' + ticket.ticketPrice + ')'}"></option>
                        </select>
                    </div>
                </div>
                <h3>Buyer</h3>
                <div class="form-group">
                    <label for="first-name">First name</label>
                    <input type="text" class="form-control" name="buyer.firstName" id="first-name" placeholder="First name" th:value="${form.buyer.firstName}" />
                </div>
                <div class="form-group">
                    <label for="last-name">Last name</label>
                    <input type="text" class="form-control" name="buyer.lastName" id="last-name" placeholder="Last name" th:value="${form.buyer.lastName}" />
                </div>
                <div class="form-group">
                    <label for="mail-address">e-mail</label>
                    <input type="text" class="form-control" name="buyer.address" id="mail-address" placeholder="Mail address" th:value="${form.buyer.address}" />
                </div>
                <div class="form-group">
                    <label for="company-name">Company</label>
                    <input type="text" class="form-control" name="buyer.company" id="company-name" placeholder="Company" th:value="${form.buyer.company}" />
                </div>
                <h3>Attendee</h3>
                <div class="form-group">
                    <label for="first-name">First name</label>
                    <input type="text" class="form-control" name="attendee.firstName" id="attendee-first-name" placeholder="First name" th:value="${form.attendee.firstName}" />
                </div>
                <div class="form-group">
                    <label for="last-name">Last name</label>
                    <input type="text" class="form-control" name="attendee.lastName" id="attendee-last-name" placeholder="Last name" th:value="${form.attendee.lastName}" />
                </div>
                <div class="form-group">
                    <label for="mail-address">e-mail</label>
                    <input type="text" class="form-control" name="attendee.address" id="attendee-mail-address" placeholder="Mail address" th:value="${form.attendee.address}" />
                </div>
                <div class="form-group">
                    <label for="company-name">Company</label>
                    <input type="text" class="form-control" name="attendee.company" id="attendee-company-name" placeholder="Company" th:value="${form.attendee.company}" />
                </div>
                <input type="hidden" class="form-control" name="eventId" id="event-id"  th:value="${event.id}" />
                <div class="form-group pull-right">
                    <button type="button" id="purchase" class="btn btn-primary">BUY</button>
                </div>
                <div class="form-group">
                    <div class="panel-body" id="error-area">
                        <span id="error-message" th:text="${errors}"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
