<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Eventspark</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script th:src="@{/lib/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/registration.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Eventspark</h1>
            <h2 th:text="${event.name}"></h2>
            <p>開始日時 <span th:text="${event.startDateTime}"></span></p>
            <p>終了日時 <span th:text="${event.endDateTime}"></span></p>
            <p>開催場所 <span th:text="${event.location}"></span></p>

            <form id="registrationForm" method="post" th:object="${form}">
                <div class="form-group">
                    <label for="first-name">First name</label>
                    <input type="text" class="form-control" name="firstName" id="first-name" placeholder="First name" th:value="${form.firstName}" />
                </div>
                <div class="form-group">
                    <label for="last-name">Last name</label>
                    <input type="text" class="form-control" name="lastName" id="last-name" placeholder="Last name" th:value="${form.lastName}" />
                </div>
                <div class="form-group">
                    <label for="mail-address">e-mail</label>
                    <input type="text" class="form-control" name="address" id="mail-address" placeholder="Mail address" th:value="${form.address}" />
                </div>
                <div class="form-group">
                    <label for="company-name">Company</label>
                    <input type="text" class="form-control" name="company" id="company-name" placeholder="Company" th:value="${form.company}" />
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <label for="ticket-type">Ticket</label>
                        <select class="form-control" name="ticketId" id="ticket-type" th:value="${form.ticketId}">
                            <option th:value="${ticket.id}" th:each="ticket : ${ticketList}" th:text="${ticket.ticketName + ' (JPY' + ticket.ticketPrice + ')'}"></option>
                        </select>
                        <input type="number" class="form-control" name="ticketCount" id="ticket-count"  th:value="${form.ticketCount}" style="width: 5em;" /> Ticket
                    </div>
                </div>
                <input type="hidden" class="form-control" name="eventId" id="event-id"  th:value="${event.id}" />
                <div class="form-group pull-right">
                    <button type="button" id="purchase" class="btn btn-primary" onclick="registerBtnClicked()">BUY</button>
                </div>
                <div class="form-group">
                    <div class="panel-body" id="error-area">
                        <span id="error-message" th:text="${errors}"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>